<section class="section" style="margin-top: 2em;">
  <h2>Semnături</h2>
  <table class="data" style="margin-top: 0.75em;">
    <tbody>
      <tr>
        <td style="height: 64px; width: 50%; vertical-align: bottom;">
          Întocmit
          <div style="margin-top: 8px; font-weight: 600;">{{signatures.preparedBy}}</div>
        </td>
        <td style="height: 64px; width: 50%; vertical-align: bottom;">
          Verificat
          <div style="margin-top: 8px; font-weight: 600;">{{signatures.verifiedBy}}</div>
        </td>
      </tr>
    </tbody>
  </table>
</section>
