<!DOCTYPE html>
<html lang="ro">
<head>
  <meta charset="utf-8" />
  <title>{{#if reportPageTitle}}{{reportPageTitle}}{{else}}Încercare presiometrică (SR EN ISO 22476-5){{/if}} · {{sample.code}}</title>
  <style>{{{combinedCss}}}</style>
</head>
<body>
  {{#if show.header}}{{> header}}{{/if}}
  {{#if show.sampleInfo}}{{> sample_info}}{{/if}}
  {{#if show.testConditions}}{{> test_conditions}}{{/if}}
  {{#if show.specimenPhotos}}{{> specimen_photos}}{{/if}}
  {{#if show.measurements}}{{> measurements_table}}{{/if}}
  {{#if show.results}}{{> results_table}}{{/if}}
  {{#if show.observations}}{{> observations}}{{/if}}
  {{#if show.signatures}}{{> signatures}}{{/if}}
  {{#if show.footer}}{{> footer}}{{/if}}
</body>
</html>

